<% provide(:title, "Applications Panel") %>

<h3 class="materialize-red-text text-lighten-2">
    Applications' Panel
</h3>
<h6> Click any project to see the applications </h6>

<%= will_paginate @articles %>
<ul class="collapsible popout">
    <% @articles.each do |article| %>
	<li>
	    <div class="collapsible-header">
		<%= article.title %>, added at  <%= article.created_at.to_s(:long) %>
	    </div>

	    <div class="collapsible-body">
		    <table>
			<thead>
			    <tr>
				<th> Name </th>
				<th> Status </th>
				<th> Files </th>
				<th> Message </th>
				<th> Actions </th>
			    </tr>
			</thead>
			<% article.applications.each do |application| %>
			    <% user = User.find(application.user_id) %> 
			    <tbody>
				<td>
				    <a href="mailto:<%= user.email %>"><%= material_icon.email.md_24 %></a>
				    <%= user.name %>
				</td>
				<td> <%= application.progress %> </td>
				<td> <%= link_to application.application_document.filename,
				     application.application_document %> </td>
				<td> <%= application.message %> </td>
				<td>
				    <%= link_to(admin_application_path(application), action: :accept, method: :put, data: { confirm: "Are you sure?"}) do %>
					<i class="material-icons"> check </i>
				    <% end %>
				    <%= link_to(admin_application_path(application), action: :reject, method: :post, data: { confirm: "Are you sure?"}) do %>
					<i class="material-icons"> close </i>
				    <% end %>
				    <%= link_to(admin_application_path(application), method: :delete, data: { confirm: "Are you sure?"}) do %>
					<i class="material-icons"> delete </i>
				    <% end %>
				</td>
			    </tbody>
			<% end %>
		    </table>
	    </div>
	</li>
    <% end %>
</ul>
<%= will_paginate @articles %>

