<% provide(:title, "About")  %>
<div class="section main-info">
    <div class="row">
	<div class="col s10">
	    <h3 class="materialize-red-text text-lighten-2"> The organisation </h3>
	    <p>
		Break the Borders– is a non-profit organization that works on youth
		initiatives development, realization of innovative projects and unites active
		citizens of Greece on a voluntary basis.
	    </p>
	    <br>
	    <p>
		The organization's aim is purely educational, cultural and non-profit, and
		consists in taking initiatives and practical action in the fields of culture,
		social responsibility, solidarity and ecology with particular emphasis on the
		contribution to personal development as citizen of the world, through active
		citizenship in Greece, Europe and worldwide as well.
	    </p>
	    <br>
	    <p>
		Break the Borders is the successor of the dissolved Breaking the Borders
		association, active on local level in different fields, as cooperating with
		“Lighthouse for the blind” in Athens and Epanodos for a 6 month project about
		art as educational tool in prison. On international level, Breaking the
		borders was one of the founding members of Art In (E)motion, and has organised
		and facilitated one youth exchange and the one of the five learning events of
		“Art in (E)motion, New A.I.M.’s for non-formal learning”, Grundtvig project.
		Continuity is provided by the presence in Break the Borders, of most of the
		staff responsible for the organization and implementation of projects already
		active in the previous organization. Currently, Break the Borders is
		participating in various european projects as a partner organisation and will
		coordinate “V-isability”, an EVS project in collaboration with the Center for
		Education and Rehabilitation for the Blind.
	    </p>
	</div>
	<div class="col s2">
	    <div class="dec-2 materialize-red lighten-2"></div>
	</div>
    </div>
</div>
<div class="divider"></div>
<div class="section team">
    <h3 class="materialize-red-text text-lighten-2"> Our Team </h3>
    <div class="row team">
	<div class="col s12 m2">
	    <div class="dec-1 teal lighten-2"></div>
	</div>
	<div class="col s10 m3">
	    <div class="card">
		<div class="card-image">
		    <%= image_tag "noether.png"%>
		</div>
		<div class="card-content">
		    <h5> Emily Noether </h5>
		    <p class="title">CEO &amp; Founder</p>
		    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
		    <p>example@example.com</p>
		</div>
		<div class="card-action">
		    <a href="mailto:#">Contact</a>
		</div>
	    </div>
	</div>

	<div class="col s10 m3">
	    <div class="card">
		<div class="card-image">
		    <%= image_tag "neil.jpg"%>
		</div>
		<div class="card-content">
		    <h5> Neal Cassady </h5>
		    <p class="title">CEO &amp; Founder</p>
		    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
		    <p>example@example.com</p>
		</div>
		<div class="card-action">
		    <a href="mailto:#">Contact</a>
		</div>
	    </div>
	</div>
	
	<div class="col s10 m3">
	    <div class="card">
		<div class="card-image">
		    <%= image_tag "leary.png"%>
		</div>
		<div class="card-content">
		    <h5> Timothy Leary </h5>
		    <p class="title">CEO &amp; Founder</p>
		    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
		    <p>example@example.com</p>
		</div>
		<div class="card-action">
		    <a href="mailto:#">Contact</a>
		</div>
	    </div>
	</div>
    </div>
</div>
