<% provide(:title, "Home") %>
<div class="section landing-page">
    <div class="row">
	<div class="col s8">
	    <h3 class="materialize-red-text text-lighten-2">Join us in learning to learn again!</h3>
	    <p> Break the Borders– is a non-profit organization that works on youth initiatives development, realization of innovative projects and unites active citizens of Greece on a voluntary basis. </p>
	    <p>We organize and participate in projects that ... </p>
	    <ul>
		<li>Ecology</li>
		<li>Tets</li>
	    </ul>
	    <p class="center">
		<a href="/about" class="btn waves-effect center">Learn More!
		    <i class="material-icons right">search</i>
		</a>
	    </p>
	</div>
	<div class="col s4">
	    <div class="dec-1 materialize-red lighten-2">
		<h5 class="logo white-text center">Break the borders</h5>
	    </div>
	</div>
    </div>
</div>
<div class="hero">
    <%= image_tag "hero.jpg", class: "responsive-img" %>
</div>
<div class="section impact">
    <div class="row">
	<div class="center col s12 m4">
	    <h3><i class="material-icons large materialize-red-text text-lighten-2">nature_people</i></h3>
	    <h5> We believe in nature </h5>
	</div>
	<div class="center col s12 m4">
	    <h3><i class="material-icons large materialize-red-text text-lighten-2">accessibility</i></h3>
	    <h5> We promote diversity/inclusivity </h5>
	</div>
	<div class="center col s12 m4">
	    <h3><i class="material-icons  large materialize-red-text text-lighten-2">color_lens</i></h3>
	    <h5> We find art as a great way of expression </h5>
	</div>
    </div>
</div>
<div class="divider"></div>
<div class="section news">
    <div class="row">
	<h3 class="materialize-red-text text-lighten-2 collection-header"> Latest news </h3>
	<div class="apple_pagination col s12">
	    <% @latest_articles.each do |article| %>
		<div class="card">
		    <div class="card-content">
			<span class="card-title">
			    <%= link_to article.title, article, class: "materialize-red-text text-lighten-2" %>
			</span>
			<div class="summary">
			    <span class="badge">
				<%= article.created_at.to_s(:short)%>
			    </span>
			    <%= article.summary %>
			</div>
		    </div>
		</div>
	    <% end %>
	</div>
    </div>
</div>


