
<div class="section user-login">
    <%= form_for(:session, url: login_path) do |f| %>
	<div class="row">
	    <div class="col s12 m8">
		<h3 class="materialize-red-text text-lighten-2 center">
		    Log in
		</h3>
		
		<div class="input-field">
		    <%= f.label :email %>
		    <%= f.text_field :email, class: 'validate'%>
		</div>
		<div class="input-field">
		    <%= f.label :password %>
		    <%= f.password_field :password, class: 'validate'%>
		</div>

		<%= f.label :remember_me, class: "checkbox" do %>
		    <%= f.check_box :remember_me %>
		    <span>Remember me on this computer</span>
		<% end %>

	    </div>
	    <div class="col s12 m4">
		<div class="dec-1 teal lighten-2">
		</div>		    
	    </div>	    
	</div>
	<div class="row">
	    <div class="col s12 m8 center">
		<%= f.submit yield(:btn_text), class: "btn waves-effect waves-light" %>
		<h6>New user? <%= link_to "Sign up now!", signup_path %></h6>
		<h6><%= link_to "Did you forget your password?", new_password_reset_path %>
	    </div>
	</div>
    <% end %>
</div>

