<% provide(:title, 'Reset your password') %>
<% provide(:btn_text, "Update my password") %>

<div class="section reset-password">
    <div class="row">
	<div class="col s12 m8">
	    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
		<h3 class="materialize-red-text text-lighten-2 center">
		    Enter your new password:
		</h3>
		<%= render 'shared/error-messages', object: f.object %>		
		<%= hidden_field_tag :email, @user.email %>
		<div class="input-field">
		    <%= f.label :password %>
		    <%= f.password_field :password, class: 'form-control' %>
		</div>
		<div class="input-field">
		    <%= f.label :password_confirmation, "Confirmation" %>
		    <%= f.password_field :password_confirmation, class: 'form-control' %>
		</div>
		<div class="center">
		    <%= f.submit yield(:btn_text), class: "btn waves-effect waves-light" %>
		</div>
	    <% end %>
	</div>
	<div class="col s12 m4">
	    <div class="dec-1 materialize-red lighten-2">
	    </div>		    
	</div>
    </div>
</div>
