<% provide(:title, "Forgot my password") %>
<% provide(:btn_text, "Send my reset code!") %>

<div class="section reset-email">
    <div class="row">
	<div class="col s12 m8">
	    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
		<h3 class="materialize-red-text text-lighten-2 center">
		    Enter your email:
		</h3>
		<div class="input-field">
		    <%= f.label :email %>
		    <%= f.text_field :email, class: ''%>
		</div>
		<div class="center">
		    <%= f.submit yield(:btn_text), class: "btn waves-effect waves-light" %>
		</div>
	    <% end %>
	</div>
	<div class="col s12 m4">
	    <div class="dec-1 materialize-red lighten-2">
	    </div>		    
	</div>
    </div>
</div>

