<% provide(:title, 'Update article') %>
<% provide(:btn_text, 'Update article') %>
<div class="container">
    <h3 class="materialize-red-text text-lighten-2 center">
	Update Article:
    </h3>
    <div class="section news-input">
  	<%= form_for @article, url: admin_article_path(@article) do |f| %>
	    <%= render 'shared/error-messages',object: f.object %>
	    <div class="row">
		<div class="input-field col s12">
		    <%= f.label :title %>
		    <%= f.text_field :title, class: 'form-control' %>
		</div>
	    </div>

	    <div class="row">
		<div class="input-field col s12">
		    <%= f.label :summary %>
		    <%= f.text_field :summary, class: 'form-control'%>
		</div>
	    </div>
	    <div class="row">
		<div class="input-field col s12">
		    <%= f.label :content %>
		    <%= f.text_area :content, class: "materialize-textarea form-control" %>
		</div>
	    </div>
	    <div class="row">
		<div class="input-field col s3">
		    <label>
			<%= f.check_box :project %>
			<span> Is the article about a project? </span>
		    </label>
		</div>
		<div class="input-field col s3">
		    <%= f.text_field :deadline, class: "datepicker"%>
		    <%= f.label :deadline %>
		</div>
		<div class="file-field input-field col s6">
		    <div class="btn">
			<span>Browse</span>
			<%= f.file_field :application_documents, multiple: true, direct_upload: true %>
		    </div>
		    <div class="file-path-wrapper">
			<input class="file-path validate" type="text" placeholder="Documents, forms, etc..">
		    </div>
		</div>
	    </div>
	    <div class="row">
		<div class="col s12 center">
		    <%= f.submit yield(:btn_text), class: "btn waves-effect waves-light" %>
		</div>
	    </div>
	<% end %>
    </div>

</div>
