<% provide(:title, 'News') %>
<div class="row">
    <div class="col s12 m8">
	<h3 class="materialize-red-text text-lighten-2">News' Panel</h3>
	<%= link_to(new_admin_article_path) do%>
	    <span class="btn waves-effect waves-light">Add a new article! </span>
	<% end %>
	<div class="apple_pagination">
	    <%= will_paginate @articles %>
	    <div class="news">
		<% @articles.each do |article| %>
		    <div class="card">
			<div class="card-content">
			    <span class="card-title">
				<%= link_to article.title, article, class: "materialize-red-text text-lighten-2" %>
			    </span>
			    <p class="summary">
				<span class="badge">
				    <%= article.created_at.to_s(:short)%>
				</span>
				<%= article.summary %>
			    </p>
			</div>
			<div class="card-action">
			    <%= link_to(admin_article_path(article), method: :delete,
					data: { confirm: "You sure?" }) do %>
				<i class="material-icons">delete</i>
			    <% end %>
			    <%= link_to(edit_admin_article_path(article)) do %>
				<i class="material-icons">edit</i>
			    <% end %>
			</div>
		    </div>
		<% end %>
	    </div>
	    <%= will_paginate @articles %>
	</div>
    </div>
    <div class="col s12 m4">
	<div class="dec-1 teal lighten-2"></div>
    </div>
</div>
