<% if current_user.applications.find_by(:article_id => @article.id) %>
    <div class="section">
	You have already applied for this project, please wait to here from us!
    </div>
<% else %>
    <div class="section">
	Please fill in the above forms and submit them here to apply for a position in the project!
    </div>
    
    <%= form_for(@application) do |f| %>
	<%= render 'shared/error-messages',object: f.object %>
	<%= render 'error-messages' %>
	<div class="input-field">
	    <%= f.text_area :message, placeholder: "Send us some greetings!",
	    class: "materialize-textarea form-control" %>
	    <div class="file-field input-field">
		<div class="btn">
		    <span>Browse</span>
		    <%= f.file_field :application_document, required: true,
		    multiple: false, direct_upload: true, class: "form-control" %>
		</div>
		<div class="file-path-wrapper">
		    <input class="file-path validate" type="text" placeholder="Upload your filled in applcation">
		</div>
	    </div>
	</div>
	<%= f.hidden_field :article_id, :value => @article.id %>
	<%= f.submit "Submit", class: "btn right waves-effect waves-light" %>
    <% end %>
<% end %>
