<% if session[:applicationerrors].any? %>
    <div id="error_explanation">
	<div class="alert alert-danger">
	    The form contains <%= pluralize(session[:applicationerrors].count, "error") %>.
	</div>
	<ul>
	    <% session[:applicationerrors].each do |msg| %>
		<li><%= msg %></li>
	    <% end %>
	</ul>
    </div>
<% end %>
