<% if logged_in? %>
	<%= render 'application-form' %>
    <% else %>
    <div class="section">
	Please <%= link_to 'login', login_path %> or <%= link_to 'signup', signup_path %> to be able to apply for this project.
    </div>
<% end %>

