<% provide(:title, 'News') %>
<div class="row">
    <div class="col s12 m8">
	<h3 class="materialize-red-text text-lighten-2">Checkout our news!</h3>

	<div class="apple_pagination">
	    <%= will_paginate %>
	    <div class="news">
		<% @articles.each do |article| %>
		    <div class="card">
			<div class="card-content">
			    <span class="card-title">
				<%= link_to article.title, article, class: "materialize-red-text text-lighten-2" %>
			    </span>
			    <p class="summary">
				<span class="badge">
				    <%= article.created_at.to_s(:short)%>
				</span>
				<%= article.summary %>
			    </p>
			</div>
		    </div>
		<% end %>
	    </div>
	    <%= will_paginate %>
	</div>
    </div>
    <div class="col s12 m4">
	<div class="dec-1 teal lighten-2"></div>
    </div>
</div>
