<% provide(:title, @article.title) %>
<div class="row">
    <div class="col s12 m8 push-m1 section article">
	<h3 class="materialize-red-text text-lighten-2">
	    <%= @article.title %>
	</h3>
	<h6 class="right-align">
	    <%= @article.created_at.to_s(:long) %>
	</h6>
	<div class="divider"></div>
	<div class="section">
	    <%= @article.content %>
	</div>
	<div class="section application-documents">
	    <div class="divider"></div>
            <% if @article.project? and @article.deadline > Time.now %>
		<% if @article.application_documents.attached? %>
		    <h4 class="materialize-red-text text-lighten-2">
			You can take part in this project!
		    </h4>
		    
		    <ul class="collection">
			<% @article.application_documents.each do |document| %>
			    <li class="collection-item"> <%= link_to document.filename, document %> </li>
		    	<% end %>
		    </ul>
			<%= render 'project-application-reveal' %>
		<% end %>
	    <% end %>
	    <% if @article.project? and @article.deadline < Time.now %>
		<%= render 'project-closed-applications' %>
	    <% end %>
	</div>
    </div>
   
    <div class="col s2">
	<div class="dec-1 materialize-red lighten-2"></div>
    </div>
</div>
<div class="row">
    <div class="col s6">
	<% if @article.previous_article %>
	    ←<%= link_to @article.previous_article.title, @article.previous_article,
	     class: "arrow"%>
	<% end %>
    </div>
    <div class="col s6 right-align">
	<% if @article.next_article %>
	    <%= link_to @article.next_article.title, @article.next_article,
	    class: "arrow"%>→
	<% end %>
    </div>
</div>
