<% provide(:title, 'News Panel') %>
<div class="row">
    <div class="col s12 m8">
	<h3 class="materialize-red-text text-lighten-2">Checkout our news!</h3>
	<%= link_to(new_article_path) do%>
	    <span class="btn waves-effect waves-light">Add a new article! <i class="material-icons">add</i></span>
	<% end %>
	<ul class="collection">
	    <% @articles.reverse_each do |article| %>
		<li class="collection-item">
		    <div>
			<span class="chip">
			    <%= article.created_at.to_s(:short)%>
			</span>
			<%= article.title %>
			
			<%= link_to(article) do %>
			    <span class="secondary-content"><i class="material-icons">send</i></span>
			<% end %>
			<%= link_to(article, method: :delete, data: { confirm: "You sure?" }) do %>
			    <span class="secondary-content"><i class="material-icons">delete</i></span>
			<% end %>
			<%= link_to(edit_article_path(article)) do %>
			    <span class="secondary-content"><i class="material-icons">edit</i></span>
			<% end %>
		    </div>
		</li>
	    <% end %>
	</ul>
    </div>
    <div class="col s12 m4">
	<div class="dec-1 teal lighten-2"></div>
    </div>
</div>
