<% provide(:title, 'Admin Panel') %>
<h3 class="materialize-red-text text-lighten-2">
    Welcome to the Admin Panel, please be careful
</h3>
<blockquote>
    With great power comes great Responsibility -- Uncle Ben
</blockquote>

<div class="row">
    <div class="col s12 m8 push-m2">
    <% if !@applications.blank? %>    
	<div class="pending-applications card-panel materialize-red lighten-3">
	    <span class="white-text">There are <%= @applications.length %> applications pending.</span>
	</div>
    <% end %>
    </div>
</div>


<div class="row">
    <div class="col s12 m4">
	<div class="card horizontal">
            <div class="card-image">
		<i class="material-icons center large">face</i>
		<%= link_to(admin_users_path) do %>
		    <div class="btn-floating halfway-fab waves-effect waves-light teal">
			<i class="material-icons">add</i>
		    </div>
		<% end %>
	    </div>
            <div class="card-content">
		<h6>Users' panel</h6>
		<p>Here you can delete users, give them admin rights
		    and view their applications.</p>
	    </div>
        </div>
    </div>
    <div class="col s12 m4">
	<div class="card horizontal">
            <div class="card-image">
		<i class="material-icons center large">assignment</i>
		<%= link_to(admin_articles_path) do %>
		    <div class="btn-floating halfway-fab waves-effect waves-light teal">
			<i class="material-icons">add</i>
		    </div>
		<% end %>
	    </div>
            <div class="card-content">
		<h6>News' panel</h6>
		<p>Add news, edit old ones, delete wrong ones. In
		    general make stuff with articles.</p>
	    </div>
        </div>
    </div>
    <div class="col s12 m4">
	<div class="card horizontal">
            <div class="card-image">
		<i class="material-icons center large">card_travel</i>
		<%= link_to(admin_applications_path) do %>
		    <div class="btn-floating halfway-fab waves-effect waves-light teal">
			<i class="material-icons">add</i>
		    </div>
		<% end %>
	    </div>
            <div class="card-content">
		<h6>Applications' panel</h6>
		<p>Gather the filled in documents and approve
		    appropriate applications. Nepotism at its best.</p>
	    </div>
	</div>
    </div>
</div>

