<h3 class="materialize-red-text text-lighten-2 center">
    Manage your applications to projects
</h3>

<% if @applications %>
    <table class="striped">
	<thead>
	    <th> Project Name </th>
	    <th> Status </th>
	    <th> Your Application </th>
	    <th> Actions </th>
	</thead>
	<tbody>
	    
	    <% @applications.each do |application| %>
		<tr>
		    <td>	
			<%= link_to application.article.title, application.article %>
		    </td>
		    <td>
			<%= application.progress %>
		    </td>
		    <% if application.application_document.attached? %>
			<td>
			    <%= link_to application.application_document.filename,
			    application.application_document %>
			</td>
		    <% else %>
			<td>
			</td>
		    <% end %>
		    <% if application.progress == "pending" %>
			<td>
			    <%= link_to(application, method: :delete, data: { confirm: "You sure?" }) do %>
				<i class="material-icons">delete</i>
			    <% end %>
			</td>
		    <% else %>
			<td>
			</td>
		    <% end %>
		</tr>
	    <% end %>
	</tbody>
    </table>
<% end %>
