<%= form_for(@user) do |f| %>
    <h3 class="materialize-red-text text-lighten-2 center">
	<%= yield(:form_title) %>
    </h3>
    <%= render 'shared/error-messages', object: f.object %>
    <div class="input-field">
	<%= f.label :name %>
	<%= f.text_field :name, class: '' %>
    </div>
    <div class="input-field">
	<%= f.label :email %>
	<%= f.text_field :email, class: ''%>
    </div>
    <div class="input-field">
	<%= f.label :password %>
	<%= f.password_field :password, class: ''%>
    </div>
    <div class="input-field">
	<%= f.label :password_confirmation, "Confirmation" %>
	<%= f.password_field :password_confirmation, class: ''%>
    </div>
    <div class="center">
	<%= f.submit yield(:btn_text), class: "btn waves-effect waves-light" %>
    </div>
    
<% end %>


