<% provide(:form_title, 'Sign Up') %>
<% provide(:btn_text, 'Create my account') %>

<div class="section user-signup">
    <div class="row">
	<div class="col s12 m8">
	    <%= render 'form'%>
	</div>
	<div class="col s12 m4">
	    <div class="dec-1 materialize-red lighten-2">
	    </div>		    
	</div>
    </div>
</div>
