<% provide(:title , @user.name) %>
<% provide(:form_title, 'Update your credentials') %>
<% provide(:btn_text, 'Update my account') %>

<div class="row">
   	<h3 class="materialize-red-text text-lighten-2">
	    Hello <%= @user.name %>, here you can manage your account!
	</h3>
	<!-- I need to think about the usage of tabs,
	it doesn't seem ideal -->
   <div class="hide-on-small-only">
       <div class="col s12">
	   <ul class="tabs">
               <li class="tab col s6"><a class="active" href="#edit">Edit account</a></li>
               <li class="tab col s6"><a href="#applications">Your applications</a></li>
           </ul>
       </div>
       <div id="edit" class="col s12">
	   <%= render 'form' %>
       </div>
       <div id="applications" class="col s12">
	   <%= render 'applications' %>
       </div>
   </div>
   <div class="col s12 hide-on-med-and-up">
       <%= render 'applications' %>
       <%= render 'form' %>
    </div>
</div>
