<% provide(:title, "Contact") %>
<% provide(:form_title, 'Contact us') %>
<% provide(:btn_text, 'Send my message') %>

<div class="section row">
    <div class="col s12 m8">
	<%= form_for(@contact) do |f| %>
	    <h3 class="materialize-red-text text-lighten-2 center">
		<%= yield(:form_title) %>
	    </h3>
	    <%= render 'shared/error-messages', object: f.object %>
	    <div class="input-field">
		<%= f.label :name %>
		<%= f.text_field :name, class: '' %>
	    </div>
	    <div class="input-field">
		<%= f.label :email %>
		<%= f.text_field :email, class: ''%>
	    </div>
	    <div class="input-field">
		<%= f.label :subject %>
		<%= f.text_field :subject, class: ''%>
	    </div>
	    <div class="input-field">
		<%= f.label :message, "Your message" %>
		<%= f.text_field :message, class: ''%>
	    </div>
	    <div class="center">
		<%= f.submit yield(:btn_text), class: "btn waves-effect waves-light" %>
	    </div>
	    
	<% end %>
    </div>
    <div class="col s12 m4">
	<div class="dec-1 materialize-red lighten-2"></div>
    </div>
</div>
