Hey there!
----------

There is a new message from <%= @contact.name %>, <%= @contact.email %>:
------------------------------------------------------------------------
    <%= @contact.message %>
------------------------------------------------------------------------
Please respond quickly!
