<% provide(:title, 'Users Panel') %>

<h3 class="materialize-red-text text-lighten-2">
    Users' Panel
</h3>
<h6> Click any user to see his applications </h6>

<%= will_paginate @users %>
<ul class="collapsible popout">
    <% @users.each do |user| %>
	<li>
	    <div class="collapsible-header">
		<span>
		    <a href="mailto:<%= user.email %>"><%= material_icon.email.md_24 %></a>
		    <% if user.admin? %>
			<i class="material-icons materialize-red-text">gavel</i>
		    <% end %>
		</span>
		
		<%= user.name %>, joined at    <%= user.created_at.to_s(:long) %>
		
		<span class="badge right">
		    <%= link_to(admin_user_path(user), method: :delete, data: { confirm: "You sure?" }) do %>
			<i class="material-icons">delete</i>
		    <% end %>
		    
		    <%= link_to(admin_user_path(user), method: :put, data: { confirm: "Are you sure?"}) do %>
			<i class="material-icons">build</i>
		    <% end %>
		    No of applications <%= user.applications.length %>
		</span>
	    </div>

	    <div class="collapsible-body">
		<% if !user.applications.blank?  %>
		    <table>
			<thead>
			    <tr>
				<th> Applied for </th>
				<th> Status </th>
				<th> Files </th>
				<th> Manage Applications </th>
			    </tr>
			</thead>
			<% user.applications.each do |application| %>
			    <% article = Article.find(application.article_id) %>
			    <tbody>
				<tr>
				    <td> <%= link_to article.title, article_path(application.article_id) %> </td>
				    <td> <%= application.progress %> </td>
				    <% if application.application_document.attached? %>
					<td>
					    <%= link_to application.application_document.filename,
					    application.application_document %>
					</td>
				    <% else %>
					<td>
					</td>
				    <% end %>
				    <td>
					link_to application_admin_path(application_id)
				    </td>
				</tr>
			    </tbody>
			<% end %>
		    </table>
		<% end %>
	    </div>
	</li>
    <% end %>
</ul>
<%= will_paginate @users %>

