html {
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    line-height: 1.5;
    
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 9 0 auto;
}

.brand-logo, .logo {
    font-family: 'Permanent Marker';
}

nav a,footer a {
    text-decoration: none;
    padding: 4px;
    color: white;
}

nav a:visited, footer a:visited {
    color: white;
}

nav a:hover, footer a:hover {
    color: white;
}

.dec-1 {
    position: relative;
    z-index: -20;
    width: 300px;
    height: 300px;
    transform: rotate(-35deg);
    background: none repeat scroll 0% 0%;
}

.dec-2 {
    position: relative;
    z-index: -25;
    width: 150px;
    height: 300px;
    background: none repeat scroll 0% 0%;
}

/* error-messages */
#error_explanation {
    color: red;
    ul {
	color: red;
	margin: 0 0 30px 0;
    }
}

.application-documents {
    margin-top: 120px;
}

.apple_pagination {
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    padding: 1em;
    cursor: default; }
.apple_pagination .disabled {
    color: #aaaaaa; }
.apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #ee6e73;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.apple_pagination a {
    text-decoration: none;
    color: black; }
.apple_pagination a:hover, .apple_pagination a:focus {
    text-decoration: underline; }

.apple_pagination .pagination {
    text-align: center;
}
