<div id="modal-contact" class="modal">
    <div class="modal-content">
	<div class="row">
	    <form class="col s12">
		<div class="row">
		    <div class="input-field col s6">
			<i class="material-icons prefix">account_circle</i>
			<input id="name" type="text" class="validate">
			<label for="name"> Your name </label>
		    </div>
		    <div class="input-field col s6">
			<i class="material-icons prefix">email</i>
			<input id="email" type="email" class="validate">
			<label for="email"> Your email </label>
		    </div>
		</div>
		<div class="row">
		    <div class="input-field col s12">
			<i class="material-icons prefix">subject</i>
			<input id="subject" type="text" class="validate">
			<label for="name"> Subject </label>
		    </div>
		</div>
		<div class="row">
		    <div class="input-field col s12">
			<i class="material-icons prefix">mode_edit</i>
			<textarea id="text1" class="materialize-textarea"></textarea>
			<label for="text1"> Message </label>
		    </div>
		</div>
		<div class="modal-footer">
		    <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
			<i class="material-icons right">send</i>
		    </button>
		</div>
	    </form>
	</div>
    </div>
</div>			    
