<footer class="page-footer center">
    <h6>contact us by</h6>
    <h6>following us on <a href="https://www.facebook.com/BreakTheBordersNGO/">facebook</a> </h6>
    <p> ======================================= </p>
    <h6>or via e-mail</h6>
    <a href="mailto:breaktheborders@yahoo.com"><%= material_icon.email.md_24 %></a>
    <a href="/contact"><%= material_icon.message.md_24 %></a>
    <div class="footer-copyright">
	<h6> made with love by bendersteed <%= material_icon.favorite.md_18 %> </h6>
	<h6> <%= material_icon.copyright.md_18 %>  Break the Borders, 2019 </h6>
    </div>
</footer>
