<header>
    <% if logged_in? %>
	<ul id="account-dropdown" class="dropdown-content materialize-red lighten-3">
	    <li><%= link_to "Account", user_path(current_user) %></li>
	    <li class="divider"></li>
	    <li> <%= link_to "Log out", logout_path, method: :delete %> </li>
	</ul>
    <% end %>
    
    <ul id="slide-out" class="sidenav">
	<li><a href ="#" class="brand-logo flow-text materialize-red-text text-lighten-2">Break the borders</a></li>
	<li><div class="divider"></div></li>
	<% if logged_in? and admin? %>
	    <li class="<%= active?("/admin") %>"><%= link_to "Admin", '/admin' %></li>
	<% end %>
	<li class="<%= active?(root_path) %>"><%= link_to "Home", root_path %></li>
	<li class="<%= active?(news_path)%>"><%= link_to "News", news_path %></li>
	<li class="<%= active?(about_path) %>"><%= link_to "About", about_path %></li>
	<li class="<%= active?(contact_path)%>>"<%= link_to "Contact", contact_path%></li>
	<% if logged_in? %>
	    <li class="no-padding">
		<ul class="collapsible collapsible-accordion">
		    <li>
			<a class="collapsible-header">
			    <i class="material-icons left">account_circle</i>
			    <%= current_user[:name] %>
			    <i class="material-icons">arrow_drop_down</i>
			</a>
			<div class="collapsible-body">
			    <ul>
				<li><%= link_to "Account", user_path(current_user) %></li>
				<li class="divider"></li>
				<li> <%= link_to "Log out", logout_path, method: :delete %> </li>
			    </ul>
			</div>
		    </li>
		</ul>
	    </li>
	<% else %>
	    <li><%= link_to "Log in", login_path %></li>
	<% end %>
    </ul>
    
    
    <nav>
	<div class="nav-wrapper">
	    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-small">
		<i class="material-icons">menu</i>
	    </a>
	    <a href ="#" class="brand-logo flow-text hide-on-small-only">Break the borders</a>
	    <a href ="#" class="brand-logo flow-text hide-on-med-and-up">BtB</a>
	    <ul id="nav-mobile" class="right hide-on-med-and-down">
		<% if logged_in? and admin? %>
		    <li class="<%= active?("/admin") %>">
			<%= link_to('/admin') do %>
			    <% if !Application.where(progress: 'pending').blank? %>
				<span class="new badge">
				    <%= Application.where(progress: 'pending').length %>
				</span>
			    <% end %>
			    Admin
			<% end %>
		    </li>
		<% end %>
		<li class="<%= active?(root_path) %>"><%= link_to "Home", root_path %></li>
		<li class="<%= active?(news_path)%>"><%= link_to "News", news_path %></li>
		<li class="<%= active?(about_path) %>"><%= link_to "About", about_path %></li>
		<li class="<%= active?(contact_path)%>"><%= link_to "Contact", contact_path %></li>
		<% if logged_in? %>
		    <li>
			<a class="dropdown-trigger" href="#!" data-target="account-dropdown">
			    <i class="material-icons left">account_circle</i>
			    <%= current_user[:name] %>
			</a>
		    </li>
		<% else %>
		    <li><%= link_to "Log in", login_path %></li>
		<% end %>
	    </ul>
	</div>
    </nav>
</header>
