<!DOCTYPE html>
<html>
    <%= render 'layouts/head' %>
    <body>
	<%= render 'layouts/header' %>
	<main class="container">
		<%= render 'layouts/flash' %>
		<%= yield %>
	</main>
	    <%= render 'layouts/footer' %>
	    <%= render 'layouts/contact-modal' %>
    </body>
</html>
